.btn{
    width: 76vh;
    margin: 40rem;
    padding: 0.875rem 1.5rem;
    margin: 10px;
    background-color: #582be8;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}