.author_details {
    display: flex;
    align-items: center;
  }
  
  .username {
    margin-left: 10px;
  }
  .userid {
    position: relative;
    bottom: 28px;
    right: .8rem;
    font-size: .8rem;
    font-weight: 200;
    color: #68778d;
  }


  .profilepic {
    margin-left: 10px;
    border-radius: 50%;
    width: 50px;
    height: 45px;
  }

  .author-container{
    display: flex;
    justify-content: center;
  }