.theme-control-card{
    width: 100%;
    background-color: #ffff;
    border-radius: 1.3rem;
    padding: 2.5rem;
    margin: 1rem;
}

h3{
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.button-grp{
    display: flex;
}

.dark-mode-toggle-btn{
    background-color: #EFF1FD;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: .6rem;
    font-size: 2rem;
    color: #68778D;
}


