.upload-btn{
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    font-size: .8rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px #3e3e3e;
    background-color: #fffefe;
    transition:100ms ease-in;
}
.upload-btn:hover {
      filter: brightness(0.9);
    }
  .upload-btn:active {
    transform: translateY(0.16rem);
  }