.nav-auth{
    display: flex;
    justify-content: center;
}

.auth-btn{
    margin-left: .7rem;
    background-color: #582be8;
    border-color: #582be8;
    color: #ffff;
    border-radius: 2px;
    padding: 0.875rem 1.5rem;
}