.user_profile_card{
   border-radius: 1.3rem;
   width: 90%;
   background-color: #ffff;
   margin: 1rem;
}
.cover_image{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 20rem;
    object-fit: cover;
    width: 100%;
}

.user_profile_card_middle{
display: flex;
align-items: center;
justify-content: space-between;
}

.profile_picture{
    margin-left: 10px;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    position: relative;
    bottom:25px;
    border: .4rem solid white;
}

.edit_btn{
    height: 40px;
    width: 125px;
    color: #3e2ed9;
    font-weight: 600;
    background-color: #e9e8fc;
}

.profile_picture_upload{
position: relative;
bottom: 3.4rem;
left:3.8rem;
}

.button_grp{
    display: flex;
    align-items: center;
}

.username{
    position: relative;
    bottom: 5rem;
    font-size: .8rem;
    color: #68778d;
    font-weight: 300;
}

.name{
    position: relative;
    bottom: 3.4rem;
    left:.8rem;
    font-size: 1.2rem;
}

.bio{
    margin: 0;
    padding: 0px;
    position: relative;
    left:.8rem;
    font-size: 1rem;
    bottom: 2.4rem;
    font-weight: 300;
}
