.page-back{
    display: flex;
    align-items: center;
}

.page{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;

}

.back-btn{
color: #7d71fe;
font-size: 1.2rem;
}