.page-back{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: .8rem;
}

.page{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;

}

.page::-webkit-scrollbar {
    display: none;
  }
.back-btn{
color: #7d71fe;
font-size: 1.2rem;
}