.input-with-label{
display: flex;
flex-direction: column;
}


label {
    margin-left: 5px;
    font: 12px Arial, sans-serif;
    font-weight: 600;
    line-height: 20px;
    color: #666c7e;
  }
/* 
  input{
    margin-left: 5px;
    margin-bottom: .5rem;
    width: 80%;
    border-radius: .5rem;
    border: 2px solid #f1f4f9;
    padding: 0.875rem 0.75rem;
    color: #333342;
    background-color: #f1f4f9;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4285;
  } */


  
  .input-test{
    /* position: absolute; */
    margin-left: 5px;
    margin-bottom: .5rem;
    border-radius: .5rem;
    border: 1px solid #f1f4f9;
    outline: 1px solid #f1f4f9;
    padding: 0.875rem 0.75rem;
    color: #333342;
    background-color: #f1f4f9;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4285;
  }