.follow-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4{
    margin: 0;
}


.follow-btn{
    font-size: 10px;
    height: 30px;
    width: 70px;
    background-color: #E9E8FC;
    border: none;
    color: #4443DE;
    font-weight: 500;
}