.follow-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follow-row h4{
    margin: 0;
    font-size: .8rem;
}
.follow-row span{
    margin:0;
    font-size: .6rem;
    color: #68778d;
}



.follow-btn{
    font-size: .6rem;
    font-weight: 600;
    padding: 8px 14px;
    background-color: #E9E8FC;
    border: none;
    color: #4443DE;
}